@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.wrap {
    background-color: #F2E9E4;
    padding-top: 50px;
    height: 100vh;
}

.container {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: #C9ADA7;
    padding: 5px 10px;
}

.display {
    text-align: right;
    font-family: 'Michroma', sans-serif;
    color: white;
    background-color: #22223B;
    border: 2px solid black;
    margin: 10px;
    border-radius: 15px;
}

.display div {
    padding-right: 10px;
}

.display .operation {
    font-size: 25px;
    height: 35px;;
}

.display .digits {
    font-size: 35px;
    height: 50px;
}

.clear {
    text-align: right;
}

button {
    background-color: whitesmoke;
    color: #22223B;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.clear button {
    padding: 7px 20px;
    font-size: 22px;
    border-radius: 10px;
    width: 125px;
    margin: 10px 15px;
}


.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 5px;
}

.keypad .key {
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    flex: 0 1 auto;
}

.keypad .key button {
    font-size: 22px;
    border-radius: 25px;
    padding: 8% 10%;
    border: 1px solid #22223B;
    width: 80px;
}